.padding {
    padding-bottom: 30px;
}

.input {
    width: 25%;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0px 10px 0px 10px;
    border-bottom: 1px solid white;
    caret-color: rgba(255, 255, 255, 0.74);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.74);
}

.input:focus {
    outline: none;
}

.button {
    color: #373750;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 15px;
}
