.emotions {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.emotion {
    padding: 0px 20px 20px 20px;
}

.button {
    background-color: transparent;
    border: none;
}

.selected {
    background-color: transparent;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 3px solid rgba(255, 255, 255, 0.74);
}

.selected:focus {
    outline: none;
}

.label {
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.emotionForm {
    width: 60%;
}

.padding {
    padding-bottom: 20px;
}

.input {
    background-color: transparent;
    padding: 20px;
    width: 300px;
    height: 150px;
    font-size: 15px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 4px solid rgba(255, 255, 255, 0.658);
    text-align: center;
    word-break: break-all;
    font-family: 'Nunito', sans-serif;
}

.input:focus {
    outline: none;
}

.note {
    padding-right: 80px;
}

.submitBtn {
    color: #373750;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 15px;
}

.center {
    padding-top: 80px;
}

.btnContainer {
    padding-top: 30px;
}