.adviceCard {
    width: 60%;
    padding: 70px 20px 70px 20px;
    margin: 20px;
    position: relative;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: 4px solid rgba(255, 255, 255, 0.658);
	font-size: 18px;
}

.adviceContainer {
    display: flex;
    justify-content: center;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}