* {
  color: white;
}

body {
  background-color:#373750;
  font-family: 'Nunito', sans-serif;
}

h1 {
  padding: 30px 0px 50px 0px;
}

button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
