.card {
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 20px;
    margin: 20px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid rgba(255, 255, 255, 0.685);
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.text {
    word-break: break-all;
    font-size: 20px;
}